SELECT IssuedDocumentProductDetailsT.*, Nz(IIf([Main_Product_Entity_Debited(For_Product_Documents)]=False,0,IIf([Product_Values_YESisGross_NOisNet]=True,([Total_Value]-[Total_Vat_#]),[Total_Value])),0) AS Debit, Nz(IIf([Main_Product_Entity_Debited(For_Product_Documents)]=True,0,IIf([Product_Values_YESisGross_NOisNet]=True,([Total_Value]-[Total_Vat_#]),[Total_Value])),0) AS Credit, IIf(IsNull([quantity]) Or IsNull([Unit_Price_Before_Discount]),0,IIf([Product_Values_YESisGross_NOisNet]=True,Round(Nz([quantity],0)*(Nz([Unit_Price_After_Discount],0)-(Nz([Unit_Price_After_Discount],0)/(1+[IssuedDocumentProductDetailsT].[Vat%]))),2),Round(Nz([Unit_Price_After_Discount],0)*[IssuedDocumentProductDetailsT].[VAT%]*Nz([quantity],0),2))) AS [Total_Vat_#], Nz(IIf([Product_Values_YESisGross_NOisNet]=True,Round(([quantity]*[Unit_Price_After_Discount]),2),Round(([quantity]*[Unit_Price_After_Discount])+[Total_Vat_#],2)),0) AS Total_Gross_Value, Nz(Round([Quantity]*[Unit_Price_After_Discount],2),0) AS Total_Value, IssuableDocumentT.Product_Values_YESisGross_NOisNet, IssuableDocumentT.Is_Positive, IssuableDocumentT.[Main_Product_Entity_Debited(For_Product_Documents)], IssuedDocumentProductDetailsT.IssuedDocumentProductDetails_Backup_ID AS IssuedDocProdDetailsID_Backup_ID, IIf([Main_Product_Entity_Debited(For_Product_Documents)]=True,Nz([Quantity],0),0) AS QuantityDebit, IIf([Main_Product_Entity_Debited(For_Product_Documents)]=False,Nz([Quantity],0),0) AS QuantityCredit, IIf([debit]=0,0,Nz([Total_Vat_#],0)) AS VatDebit, IIf([Credit]=0,0,Nz([Total_Vat_#],0)) AS VatCredit, TransactionsT.Is_Deleted AS TransactionSoftDeleted
FROM TransactionsT INNER JOIN ((IssuableDocumentT INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID)) ON TransactionsT.Transaction_ID = IssuedDocumentT.Transaction_ID
WHERE (((IssuedDocumentProductDetailsT.Is_New)=True)) OR ((Not (IssuedDocumentProductDetailsT.IssuedDocumentProductDetails_Backup_ID) Is Null)) OR (((TransactionsT.Is_Deleted)=True));
