SELECT IssuedDocumentT.Transaction_ID, Docs.Issued_Document_ID, Null AS Issued_Document_Details_ID, Docs.Issued_Date, IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)] AS Transactor_ID, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description AS Transactor_Description, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription AS Transactor_Type_Desription, Nz(NetFromProducts.SumOfDebit,0)+Nz(NetFromFin.SumOfDebit,0) AS Net_Value_Debit, Nz(VatFromProducts.SumOfDebit,0)+Nz(VatFromFin.SumOfDebit,0) AS Vat_Value_Debit, Nz(NetFromProducts.SumOfDebit,0)+Nz(NetFromFin.SumOfDebit,0)+Nz(VatFromProducts.SumOfDebit,0)+Nz(VatFromFin.SumOfDebit,0) AS Total_Debit, Nz(NetFromProducts.SumOfCredit,0)+Nz(NetFromFin.SumOfCredit,0) AS Net_Value_Credit, Nz(VatFromProducts.SumOfCredit,0)+Nz(VatFromFin.SumOfCredit,0) AS Vat_Value_Credit, Nz(NetFromProducts.SumOfCredit,0)+Nz(NetFromFin.SumOfCredit,0)+Nz(VatFromProducts.SumOfCredit,0)+Nz(VatFromFin.SumOfCredit,0) AS Total_Credit, Docs.Issuable_Document_Description, Docs.Document_Official_Number_Sequence, Docs.Intention_ID, Docs.Intention_Description, IssuableDocumentT.Is_Positive, IssuableDocumentT.Used_In_Commercial_Sector, IssuableDocumentT.Used_In_Accounting_Sector
FROM ((((((IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ AS Docs INNER JOIN IssuedDocumentT ON Docs.[Issued_Document_ID] = IssuedDocumentT.Issued_Document_ID) INNER JOIN IssuableDocumentT ON IssuedDocumentT.Issuable_Document_ID = IssuableDocumentT.Issuable_Document_ID) LEFT JOIN TransactorsWithBasicTransactorsDescriptionQ ON IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)] = TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID) LEFT JOIN (SELECT [Issued_Document_ID], Sum(Debit) AS SumOfDebit, Sum(Credit) AS SumOfCredit
            FROM FinalDebitAndCreditForFinancialTransactorFromProductDetailsQ
            GROUP BY [Issued_Document_ID]
        )  AS NetFromProducts ON Docs.[Issued_Document_ID] = NetFromProducts.[Issued_Document_ID]) LEFT JOIN (SELECT [Issued_Document_ID], Sum(Debit) AS SumOfDebit, Sum(Credit) AS SumOfCredit
            FROM IssuedDocumentFinDetFinalWithoutVatTransactorsQ
            GROUP BY [Issued_Document_ID]
        )  AS NetFromFin ON Docs.[Issued_Document_ID] = NetFromFin.[Issued_Document_ID]) LEFT JOIN (SELECT [Issued_Document_ID], Sum(Debit) AS SumOfDebit, Sum(Credit) AS SumOfCredit
            FROM FinalDebitAndCreditForVatTransactorsFromProductDetailsQ
            GROUP BY [Issued_Document_ID]
        )  AS VatFromProducts ON Docs.[Issued_Document_ID] = VatFromProducts.[Issued_Document_ID]) LEFT JOIN (SELECT [Issued_Document_ID], Sum(Debit) AS SumOfDebit, Sum(Credit) AS SumOfCredit
            FROM IssuedDocumentFinDetFinalWithOnlyVatTransactorsQ
            GROUP BY [Issued_Document_ID]
        )  AS VatFromFin ON Docs.[Issued_Document_ID] = VatFromFin.[Issued_Document_ID];
