SELECT ProductAccountingBehaviorT.Product_Accounting_Behavior_Description AS [Product Accounting Behaviour], ProductAccountingBehaviorT.Product_Accounting_Behavior_ID AS ID
FROM ProductAccountingBehaviorT;
