SELECT VAT_T.VAT_ID, VAT_T.[VAT%], VATStatusT.VAT_Status_Description, ProductVATCategoriesT.Product_VAT_Category_Description, TransactorAddressDetailsT.Transactor_Address_Details_ID, ProductsT.Product_ID, [Forms]![ProductArticlesF]![ProductArticlesToIssuableDocumentsSF]![OtherEntityTransactionPointIDCbo] AS Expr1, TransactorAddressDetailsT.VAT_Status_ID
FROM (VATStatusT INNER JOIN TransactorAddressDetailsT ON VATStatusT.VAT_Status_ID = TransactorAddressDetailsT.VAT_Status_ID) INNER JOIN ((ProductVATCategoriesT INNER JOIN ProductsT ON ProductVATCategoriesT.Product_VAT_Category_ID = ProductsT.VAT_Category_ID) INNER JOIN VAT_T ON ProductVATCategoriesT.Product_VAT_Category_ID = VAT_T.Product_VAT_Category_ID) ON VATStatusT.VAT_Status_ID = VAT_T.Transactor_VAT_Status_ID
WHERE (((ProductsT.Product_ID)=[forms]![ProductArticlesF]![ProductArticlesToProductsSF]![ProductIDCbo])) OR ((([Forms]![ProductArticlesF]![ProductArticlesToIssuableDocumentsSF].[form]![OtherEntityTransactionPointIDCbo]) Is Null));
