CREATE INDEX [Accounting_Behavior_ID] ON [LinkProductArticlesToProductsT] ([Accounting_Behavior_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Transactor_ID] ON [LinkProductArticlesToProductsT] ([Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Articles_ID] ON [LinkProductArticlesToProductsT] ([Product_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [View_ID] ON [LinkProductArticlesToProductsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */