CREATE INDEX [Accounting_Article_ID] ON [LinkUsersToAccountingArticlesT] ([Accounting_Article_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_User_To_Accounting_Articles_ID] ON [LinkUsersToAccountingArticlesT] ([Link_User_To_Accounting_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [Unique_Index] ON [LinkUsersToAccountingArticlesT] ([Accounting_Article_ID], [User_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [User_ID] ON [LinkUsersToAccountingArticlesT] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */