CREATE INDEX [Link_User_To_Accounting_Articles_ID] ON [LinkUsersToProductArticlesT] ([Link_User_To_Product_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Article_ID] ON [LinkUsersToProductArticlesT] ([Product_Article_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [Unique_Index] ON [LinkUsersToProductArticlesT] ([Product_Article_ID], [User_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [User_ID] ON [LinkUsersToProductArticlesT] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */