CREATE INDEX [Product_ID_To_Be_Produced] ON [RecipesExecutionMethodStepsT] ([Product_ID_To_Be_Produced]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [RecipeExecutionMethodStepPriorityID] ON [RecipesExecutionMethodStepsT] ([RecipeExecutionMethodStepPriorityID]); /* IgnoreNulls=False, Required=False, Unique=False */